<body>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Contatos</h2>

                <div class="row">
                    <div class="col s6">
                        
                    </div>
                    <div class="col s1 offset-s5">
                        <a href="#" class="btn-floating btn-large waves-effect" routerLink="/contato/save">
                            <i class="material-icons">add</i>
                        </a>                      
                    </div>
                </div>

                <table class="striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Telefone</th>
                            <th>Editar</th>
                            <th>Deletar</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngIf="contatos.length == 0">
                            <td colspan="5" align="center">Você não possui contatos</td>
                        </tr>
                        <tr *ngFor="let c of contatos" onchange="Materialize.toast('I am a toast', 4000)">
                            <td>{{ c.nome }}</td>
                            <td>{{ c.email }}</td>
                            <td>{{ c.telefone }}</td>
                            <td><button class="waves-effect waves-light btn" [routerLink]="['/contato/save', c.id]">Editar</button></td>
                            <td><button class="waves-effect waves-light btn red darken-4" (click)="onDelete(c)">Deletar</button></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</body>